@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
  font-family: "Fira Sans", serif;
}
body{
    background-color:#F5F5F5;
}
/* header styles */

header{
    margin: .6cm 3cm .6cm;
}
.navbar{
    display: flex;
    justify-content: space-between;
align-items: center;
}
.navbar h1{
    font-size: 25px;
color: #0E0E0E;
}
.nav-btn{
    padding: 10px 20px;
     cursor: pointer;
    background: transparent;
    color: #006a50;
    font-size: 16px;
    font-weight:  bold;
    border-radius: 8px;
    border: 2px solid #006a50;
}
.nav-btn:hover{
    padding: 10px 20px;
    background: #006a50;
    color: white;
    font-size: 16px;
    font-weight:  bold;
    border-radius: 8px;
    border: 2px solid #006a50;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 380px;
    padding: 1cm 1.3cm 0;
    margin: 1cm 3cm;
    gap: 50px;
    background-color: #C6E4D6;
}
.banner-items img{
    width: 280px;
    height: 265px;
}
.btn{
    background-color: #006a50;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #006a50;

    font-size: 16px;
}
.btn:hover{
    background-color: white;

    color: #006a50;
}


/* future styles */
.future{
    margin: 1cm 3cm 1cm;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.future-container{
    display: flex;
    gap: 20px;
}
.future-container h4{
   font-size: 18px;
   margin: 10px 0;
   color: #333936;
}
.future-container p{
   font-size: 12px;
   line-height: 20px;
   margin: 10px 0;
   color: #454E4A;
}

.future-cards img{
  width: 20%;
}
.future-cards1 {
    background-color: #D5E1F5;
    padding: 15px;
    width: 31%;
    border-radius: 10px;
}
.future-cards2 {
    background-color: #C6E4D6;
    padding: 15px;
    width: 31%;
    border-radius: 10px;

}
.future-cards3 {
    background-color: #F7EBCF;
    padding: 15px;
    width: 31%;
    border-radius: 10px;

}
.future-btn1{
 
    background-color: #5490F5;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 45px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #5490F5;

    font-size: 16px;
}
.future-btn1:hover{
    background-color: white;

    color: #5490F5;
}
.future-btn2{
    background-color: #006a50;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #006a50;

    font-size: 16px;
}
.future-btn2:hover{
    background-color: white;

    color: #006a50;
}
.future-btn3{
    background-color: #FFC239;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #FFC239;

    font-size: 16px;
}
.future-btn3:hover{
    background-color: white;

    color: #FFC239;
}
/* quote styles */
.quote{
    margin: 1cm 3cm 2cm;
    padding: 1cm 1cm 0.5cm;
    background: url("assets/quote-bg.png"),#ffffff;
    background-repeat: no-repeat no-repeat;
    background-position: top 13.5px left 36.5px;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
}
.quote p{
font-size: 13px;
line-height: 22px;
margin-bottom: 20px;
color: #3E3E3E;
}
.quote h3{
   font-size: 18px;
   margin-bottom: 20px;
}
/* news styles */
.news{
    margin: 1cm 3cm 2cm;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.news p{
font-size: 12px;
line-height: 20px;
color: #535353;
}
.news h1{
font-size: 30px;
color: #0E0E0E;
}
.news-card{
    display: flex;
    gap: 30px;

    align-items: center;
    background-color: #ffffff;
    padding: 1cm;
    border-radius: 15px;
}
.news-card-items1 {
    max-width: 40%;
}
.news-card-items2 {
    max-width: 60%;
}
.news-card-items1 img{
  width: 100%;

    border-radius: 20px;
    }

.news-card-items2 h2{
margin: 0px 0 8px;
font-size: 22px;
}
.news-card-items2 img{
width: 20%;
}
.news-card-items2 p{
margin: 3px 0 0;
font-size: 11px;
}
.news-card-items2 .btn{
margin: 10px 0 0;

}