@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
  font-family: "Fira Sans", serif;
}
/* header styles */

header{
    margin: .6cm 3cm .6cm;
}
.navbar{
    display: flex;
    justify-content: space-between;
align-items: center;
}
.navbar h1{
    font-size: 25px;
color: #0E0E0E;
}
.nav-btn{
    padding: 10px 20px;
    background: transparent;
    color: #006a50;
    font-size: 16px;
    font-weight:  bold;
    border-radius: 8px;
    border: 2px solid #006a50;
}
.nav-btn:hover{
    padding: 10px 20px;
    background: #006a50;
    color: white;
    font-size: 16px;
    font-weight:  bold;
    border-radius: 8px;
    border: 2px solid #006a50;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 380px;
    padding: 1cm 1.3cm 0;
    margin: 1cm 3cm;
    gap: 50px;
    background-color: #C6E4D6;
}
.banner-items img{
    width: 280px;
    height: 265px;
}
.btn{
    background-color: #006a50;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #006a50;

    font-size: 16px;
}
.btn:hover{
    background-color: white;

    color: #006a50;
}

